/* Обнуление CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*------------------------------*/
/* Основная grid сетка страницы */
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
A {
  color: #000000; /* Цвет обычной ссылки */
}
A:visited {
  color: #000000; /* Цвет посещенной ссылки */
}

body {
  font-family: "Montserrat", sans-serif;
}
.main {
  grid-area: "main";
  margin-top: 25px;
}
/* HEADER */
.header {
  grid-area: "header";
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 1040px;
  height: 100%;
  margin: 0% auto;
}
.logo img {
  width: 100%;
  height: auto;
}
.logo a {
  display: flex;
  justify-content: space-around;
}
.logo p {
  align-self: center;
  font-weight: 400;
  font-size: 80px;
}
.logo a:hover {
  color: purple;
}

/* NAVIGATION */
.menu {
  max-width: 100%;
  height: 100%;
  margin: 0px auto;
}
.menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu li {
  border: 1px groove purple;
  text-align: center;
  line-height: 65px;
  width: 208px;

  font-weight: 400;
  font-size: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: 100%;
  }
  .logo img {
    width: 280px;
  }
  .logo p {
    font-size: 85px;
  }
  .menu li {
    line-height: 70px;
    font-size: 28px;
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  .logo img {
    width: 280px;
  }
  .logo p {
    font-size: 85px;
  }
  .menu li {
    line-height: 70px;
    font-size: 35px;
    width: 50%;
  }
}

.menu li:hover {
  box-shadow: 2px 2px 1px purple;
}
.menu a:hover {
  color: purple;
}
.menu a:active {
  color: #f2e3c9a6;
}

/* MAIN PHOTO */
.main_img_wrap {
  margin: 0% auto;
  width: 1040px;
}
.main_img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main_img_wrap {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .main_img_wrap {
    width: 100%;
  }
}
/* TEXT-BLOCK */
.section-text {
  width: 180px;
  /* (340[высота блока]-26[шрифт]-120[margin]-10[высота линий])/2 = 92px[должен быть отступ]  */
  padding-top: 92px;
}
.section-text h2 {
  display: block;
  margin: 60px 0px 60px 0px;
  text-align: center;
  align-self: center;
  font-size: 26px;
  font-weight: 400;
}
.section-text hr {
  grid-area: S;
  box-shadow: 0px 2px 4px 1px #f2e3c9a6;
}
.img_border {
  border: 1px solid black;
}

/* INDEX_GRIDS */
.item-a {
  grid-area: A;
}
.item-b {
  grid-area: B;
}
.item-c {
  grid-area: C;
}
.item-d {
  grid-area: D;
}

.paintings_grid {
  display: grid;
  margin: 60px auto 0px;
  width: 1040px;
  column-gap: 8px;
  grid-template-columns: 180px repeat(3, 164px) 336px;
  grid-template-rows: 340px;
  grid-template-areas: "S A B C D";
}
.lessons_grid {
  display: grid;
  margin: 60px auto 0px;
  width: 1040px;
  row-gap: 6px;
  column-gap: 2px;
  grid-template-columns: 164px 250px 420px 180px;
  grid-template-rows: 167px 167px;
  grid-template-areas:
    "A C D S"
    "B C D S";
}
.design_grid {
  display: grid;
  margin: 60px auto 0px;
  width: 1040px;
  column-gap: 60px;
  grid-template-columns: 180px 400px 340px;
  grid-template-rows: 340px;
  grid-template-areas: "S A B";
}
@media screen and (max-width: 1023px) {
  .section-text {
    width: 1040px;
    /* (70[высота блока]-26[шрифт]-20[margin]-10[высота линий])/2 = 7px[должен быть отступ]  */
    padding-top: 7px;
  }
  .section-text h2 {
    margin: 10px 0px 10px 0px;
    font-size: 26px;
  }
  .paintings_grid {
    background: red;
    grid-template-columns: repeat(3, 164px) 336px;
    grid-template-rows: 70px 340px;
    justify-content: space-between;
    grid-template-areas:
      "S S S S"
      "A B C D";
  }
  .lessons_grid {
    background: red;
    grid-template-columns: 164px 250px 420px;
    grid-template-rows: 70px 170px 170px;
    column-gap: 103px;
    grid-template-areas:
      "S S S"
      "A C D"
      "B C D";
  }
  .design_grid {
    background: red;
    grid-template-columns: 400px 340px;
    grid-template-rows: 70px 340px;
    justify-content: space-between;
    grid-template-areas:
      "S S"
      "A B";
  }
}

@media screen and (max-width: 767px) {
  .paintings_grid {
    background: yellow;
    grid-template-columns: repeat(3, 164px);
    grid-template-rows: 70px repeat(2, 340px);
    grid-template-areas:
      "S S S"
      "A B C"
      "D D D";
  }
  .lessons_grid {
    background: yellow;
    grid-template-columns: 250px 420px;
    grid-template-rows: 70px 167px 340px;
    grid-template-areas:
      "S S"
      "A B"
      "C D";
  }
  .design_grid {
    background: yellow;
    grid-template-columns: 400px;
    grid-template-rows: 70px 340px 340px;
    grid-template-areas:
      "S"
      "A"
      "B";
  }
}
.button {
  background-color: #dbc7a39d;
  display: block;
  font-size: 18px;
  margin: 40px auto 40px;
  width: 200px;
  height: 50px;
  border-radius: 40px;
}
.button:hover {
  box-shadow: 2px 2px 1px black;
  color: purple;
}
/* FOOTER */
.line {
  border-top: 5px solid #ddc7a1;
  box-shadow: 0px 2px 4px rgba(242, 227, 201, 0.65);
}
.footer {
  grid-area: "footer";
  margin-top: 20px;
}
.footer p {
  font-size: 24px;
  margin-top: 40px;
  text-align: center;
}

/* ABOUT ME*/
.about_me {
  display: grid;
  column-gap: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;

  grid-template-columns: 250px 1100px;
  grid-template-rows: 100%;
}
.about_me span {
  margin-top: 20px;
  display: block;
  font-size: 25px;
  text-align: center;
}
.about_me p {
  font-size: 20px;
  line-height: 28px;
}
.about_me img {
  margin-top: 35%;
  border: 1px solid black;
  border-radius: 50%;
}

/* CONTACT*/
.contact_block {
  display: grid;
  column-gap: 115px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px 35px 24px 150px 20px;

  font-size: 25px;
  width: 1040px;
  margin: 15px auto 0px;
}
.contact_input {
  border: 2px solid black;
  font-size: 22px;
  background-color: #dbc7a39d;
}
.contact_input:focus {
  background-color: #ddc7a1;
}
.grid_item_big {
  grid-column: span 2;
}
.contact_submit {
  border: 2px solid black;
  font-size: 22px;
  width: 200px;
  height: 50px;
  justify-self: center;
  background-color: #d8b880;
}
.contact_submit:hover {
  box-shadow: 2px 2px 1px black;
  color: #f2e3c9a6;
}
.contact_submit:focus {
  background-color: #ddc7a1;
}
.contact_submit:active {
  color: purple;
}
.resize_none {
  resize: none; /* Запрещаем изменять размер */
}

/*AFFAIRS*/
.cards_wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cards_item {
  display: flex;
  padding: 1rem;
  width: 33.3333%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cards_item {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .cards_item {
    width: 100%;
  }
}

.card {
  background-color: #dbc7a39d;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ddc7a1 5%, purple 150%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 14px;
  font-weight: 400;
  display: block;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

/* PUBLICATION*/
.publication {
  display: grid;
  width: 1100px;
  margin: 5% auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.publication img {
  margin: 10px;
}
.publication h1 {
  grid-column: 1/4;
  font-size: 2.5rem;
  text-align: center;
  align-self: center;
  margin-bottom: 1.5rem;
}
.publication p {
  line-height: 2.5rem;
  margin: 1rem;
  font-size: 1.5rem;
}
.publication p::first-letter {
  margin-left: 2.5rem;
}
.publication_footer {
  grid-column: 1/4;
  text-align: right;
}
.column_1_2 {
  grid-column: 1/2;
}
.column_1_3 {
  grid-column: 1/3;
}
.column_2_4 {
  grid-column: 2/4;
}
.align_self_center {
  align-self: center;
}
.justify_center {
  justify-self: center;
  text-align: center;
}
.column_1_4_w400 {
  grid-column: 1/4;
  font-weight: 400;
  text-align: center;
  align-self: center;
}
